@font-face {
    font-family: "Mac's Font";
    src: url("Test-Mac-Font22.ttf");
}

html {
    font-family: "Mac's Font";
    font-size: 1.5em;
}

.svg {}

#parent {
    position: absolute;
}

img {
    height: 7em;
    width: 7em;
}

a {
    position: relative;
    float: left;
    margin: 3em 4em;
}

a:hover{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#chisel {
    /* left: 1em;
    top: 3em; */
    position: relative;
    top: 3em;
}

#cocktail {
   
    position: relative;
    bottom: 3em;
}

#computer {
    /* left: 18em;
    top: 5em; */
    position: relative;
    top: 2em;
}

#email {
    /* top: 1em; */
    position: relative;
    bottom: 2em;
}

#git-hub {
    /* top: 20em;
    left: 7em; */
    position: relative;
    top: 3em;
}

#linked-in {
    /* right: 10em;
    top: 22em; */
    position: relative;
}

#notebook {
    /* top: 16em;
    left: 9em; */
    position: relative;
    bottom: 4em;
}

#my_name {
    font-size: 5em;
    margin: 3em 2em 0 2em;
    left: 0;
    right: 0;
    position: relative;
    text-align: center;
    display: block;
}

.top-row {
    margin: 2em;
}

.bottom-row {}